body {
    background-color: lightgreen;
    text-align: center;
}

#logo {
    background-color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white; 
}

#bloque-inicial {
    border: 5px;
    border-color: antiquewhite;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.botones-menu {
    border: solid 10px whitesmoke;
    margin: 10px; 
}