body {
    background-color: rgb(249, 243, 237);
    text-align: center;
}


#bloque-inicial {
    border: 5px;
    border-color: antiquewhite;
    color: rgb(18, 130, 161);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.botones-menu {
    border: solid 3px whitesmoke;
    margin: 10px; 
}